integrations:
- name: nri-cassandra
  env:
    PORT: "7199"
    HOSTNAME: localhost

    USERNAME: testUser
    PASSWORD: testPassword

    # New users should leave this property as `true`, to identify the
    # monitored entities as `remote`. Setting this property to `false` (the
    # default value) is deprecated and will be removed soon, disallowing
    # entities that are identified as `local`.
    # Please check the documentation to get more information about local
    # versus remote entities:
    # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
    REMOTE_MONITORING: "true"

    METRICS: "true"

    NR_JMX_TOOL: C:\PROGRA~1\NEWREL~1\nrjmx\nrjmx.bat
  interval: 30s
  labels:
    env: production
    role: cassandra
- name: nri-cassandra
  env:

    # hostname is used to identify the monitored entity to which the inventory will be attached.
    HOSTNAME: localhost
    CONFIG_PATH: c:\apache-cassandra-3.11.9\conf\cassandra.yaml

    # New users should leave this property as `true`, to identify the
    # monitored entities as `remote`. Setting this property to `false` (the
    # default value) is deprecated and will be removed soon, disallowing
    # entities that are identified as `local`.
    # Please check the documentation to get more information about local
    # versus remote entities:
    # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
    REMOTE_MONITORING: "true"

    INVENTORY: "true"

    NR_JMX_TOOL: C:\PROGRA~1\NEWREL~1\nrjmx\nrjmx.bat
  interval: 60s
  labels:
    env: production
    role: cassandra
  inventory_source: config/cassandra
