name: Push/PR

on:
  push:
    branches:
      - master
      - main
      - renovate/**
  pull_request:
  workflow_dispatch:

jobs:
  push-pr:
    uses: newrelic/coreint-automation/.github/workflows/reusable_push_pr.yaml@feat/fake-prerelease-goarch-matrix # TODO: change to v2
    secrets: inherit
    with:
      run_test_build_fake_prerelease: true
      integration: "cassandra"
      fake_prerelease_goarch_matrix: '["amd64"]' # 386 is not supported in jmx integrations
