name: Prerelease

on:
  release:
    types:
      - prereleased
    tags:
      - 'v*'
jobs:
  pre-release:
    uses: newrelic/coreint-automation/.github/workflows/reusable_pre_release.yaml@v4
    with:
      tag: ${{ github.event.release.tag_name }}
      integration: "cassandra"
      windows_goarch_matrix: '["amd64"]' # 386 is not supported in jmx integrations
      windows_download_nrjmx: true
      publish_schema: "ohi-jmx"
      win_package_type: exe
    secrets: inherit
